<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Login | Pinnochio's Pizza</title>
    <style>
        input[type=text]{
            width: 50%;
        }
        input[type=submit]{
            width: 50%;
        }
        input[type=password]{
            width: 50%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Pinocchio's Pizza</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/registerpage">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Login</a>
        </li>
      </ul>
      </nav><br><br><br>
    <div align="center">
      <h1>Login</h1>
        <p id="message">
          {% if message != None %}
            {{message}}
          {% endif %}
        </p><br>
        <form id="form" action="{% url 'login_view' %}" method="POST">
            {% csrf_token %}
            <input type="text" placeholder="Username" name="username" class="form-control" required><br>
            <input type="password" placeholder="Password" name="password" class="form-control" required><br>
            <input type="submit" value="Login" class="btn btn-primary"><br>
        </form>
    </div>
    
</body>
</html>